* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.logo {
  height: 4rem;
}

nav {
  display: inline-block;
}

.encabezados {
  width: 400px;
  margin: 0 auto 20px;
  padding: 20px;

  border: 2px solid black;
  color: blueviolet;
  background-color: bisque;
}

.encabezados div {
  width: 50%;
}

.parrafos {
  padding: 20px;
  border: 2px solid black;

  background-color: darkgray;
}

.encabezados > h3 {
  font-size: 25px;

  color: black;
}

.encabezados h3 ~ h3 {
  font-size: 25px;
  font-weight: bold;

  color: black;
}
